---
layout: default
---
<article class="container mx-auto px-2 mt2 mb4">
  <header>
    <h1 class="h0 py-4 mt-3">{{ page.title }}</h1>
  </header>
  <div class="col-10 sm-width-full border-top-thin">
  </div>
  <div class="col-10 py-3">
    <span class="bold h3">CATES:&nbsp;</span>
    <ul class="cates">
    	<li>JAVA</li>
    	<li>前端</li>
    	<li>框架</li>
    </ul>
  </div>
  <div class="col-4 sm-width-full border-top-thin">
  </div>
  <div class="prose py-4">
    {{ content }}
  </div>
</article>
