---
layout: default
---
<article class="container px-2 mx-auto mb4" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="h1 col-9 sm-width-full py-4 mt-3 inline-block" itemprop="name headline">{{ page.title }}</h1>
  <div class="col-4 sm-width-full mt-1 border-top-thin ">
    <p class="mb-3 py-2 bold h4"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time></p>
  </div>

  <div class="prose post-content" itemprop="articleBody">
      {{ content }}
  </div>
	<!-- 网易云跟帖开始 -->
	<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
	<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
	<script>
	var cloudTieConfig = {
	  url: document.location.href, 
	  sourceId: "",
	  productKey: "9494ec3f905940e9a9c7d673440981ae",
	  target: "cloud-tie-wrapper"
	};
	var yunManualLoad = true;
	Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
	</script>
	<!-- 网易云跟帖结束 -->
</article>

<div class="container mx-auto px-2 py-2 clearfix">
  {% include previous-next.html %}
</div>
